Hands-On Machine Learning with Scikit-Learn and Pytorch Concepts, Tools, and Techniques to Build Intelligent Systems (Aurelien Geron) (z-library.sk, 1lib.sk, z-lib.sk).pdf
Pandas_Cheat_Sheet.pdf

src/__pycache__
